/* style guide */
/*font-family: 'Cabin', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
*/

/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2,
p {
  font-family: 'Roboto', sans-serif;
  display: block;
}

/* header */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(15, 14, 14);
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: 'Cabin', sans-serif;
}
li {
  display: inline-block;
  margin-left: 4rem;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: rgb(231, 220, 58);
}
.logo a {
  font-family: 'Pacifico', cursive;
  letter-spacing: 4px;
  color: rgb(231, 220, 58);
  text-decoration: underline;
}
.logo a:hover {
  color: #fff;
}
.banner {
  background-image: url(./images/yaopey-yong-38s1p9iW9Mk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 80vh;
  text-align: center;
  padding-top: 90px;
}
.box {
  background-color: rgb(68, 131, 214);
  width: 35%;
  height: 25%;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  bottom: -70%;
  color: rgb(255, 255, 255);
}
.box h2 {
  padding-top: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
