/* style guide */
/*font-family: 'Cabin', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
*/

/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: 'Cabin', sans-serif;
  display: block;
}
p {
  font-family: 'Roboto', sans-serif;
}

/* header */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(15, 14, 14);
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: 'Cabin', sans-serif;
}
li {
  display: inline-block;
  margin-left: 4rem;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: rgb(231, 220, 58);
}
.logo a {
  font-family: 'Pacifico', cursive;
  letter-spacing: 4px;
  color: rgb(231, 220, 58);
  text-decoration: underline;
}
.logo a:hover {
  color: #fff;
}
.banner {
  background-image: url(./images/yaopey-yong-38s1p9iW9Mk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 80vh;
  text-align: center;
  padding-top: 90px;
}
.box {
  background-color: rgb(68, 131, 214);
  width: 35%;
  height: 25%;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  bottom: -70%;
  color: rgb(255, 255, 255);
}
.box h2 {
  padding-top: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 2rem;
}

/* body styling */

.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/*portfolio section*/

.portfolio {
  margin: 50px auto;
}
.portfolio h2 {
  margin-bottom: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.card {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.card .image {
  height: 80%;
  width: 100%;
}
.aero {
  background-image: url(./images/david-b-6CIIuaV-d58-unsplash.jpg);
}
.auto {
  background-image: url(./images/louis-tricot-rHk5uvsnCn4-unsplash.jpg);
}
.lane {
  background-image: url(./images/ken-huang-Cf8DAC9dm-U-unsplash.jpg);
}
.tiger {
  background-image: url(./images/imthaz-ahamed-vVLrfAzmWYw-unsplash.jpg);
}
.train {
  background-image: url(./images/markus-winkler-1ZQ8WUWselo-unsplash.jpg);
}
.valet {
  background-image: url(./images/frank-mckenna-Ap6t4U-VIqw-unsplash.jpg);
}
.aero,
.auto,
.lane,
.tiger,
.train,
.valet {
  background-position: center;
  background-size: cover;
}
.title {
  padding: 20px;
  font-family: 'Cabin', sans-serif;
  font-size: 1.3rem;
}

/* team section */
.team {
  text-align: center;
}
.teambg {
  background-color: rgb(207, 207, 207);
  height: 70%;
  padding: 2%;
}

.teamcard {
  width: 320px;
  height: 600px;
  margin: 50px 10px;
}
.teamimage {
  height: 70%;
  width: 100%;
  background-size: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(71, 70, 70);
}

.justin {
  background-image: url(./images/gregory-gill-4Bf5LNEPqZ0-unsplash.jpg);
}
.zaraa {
  background-image: url(./images/bardia-hashemirad-3P7jxpEgkC4-unsplash.jpg);
  background-position: bottom center;
}
.dave {
  background-image: url(./images/pamela-buenrostro-bcXB5g48xbI-unsplash.jpg);
}
.teamcard h3 {
  margin: 20px 0 10px 0;
}

/*footer*/
footer {
  text-align: center;
  padding: 2.5rem;
  color: #fff;
  background-color: #000;
  display: block;
}
footer p {
  font-size: 0.75rem;
  margin: 0.8rem;
  letter-spacing: 2px;
}
